# version docker compose
version: "3.8"

# daftar service
services:
  # nama service (bebas)
  web:
    # build dari dockerfile saat ini
    build: .
    
    # port mapping
    ports:
      - "3000:3000"
    
    # environment variable
    environment:
      - NODE_ENV=development

  database:
    image: mysql:8.0 # Specifies the MySQL image and version
    restart: always
    environment:
      # !! NOT FOR PRODUCTION: use more secure password management for production
      MYSQL_ROOT_PASSWORD: my-secret-pw 
      MYSQL_DATABASE: my_database
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
    ports:
      - "3306:3306" # Maps the container's MySQL port to the host machine's port
    volumes:
      # Optional: Persists data to a named volume on the host machine
      - mysql-data:/var/lib/mysql


